@import url('https://fonts.googleapis.com/css?family=Assistant|Baloo+Tammudu|Domine');
/*
font-family: 'Baloo Tammudu', cursive;
font-family: 'Domine', serif;
font-family: 'Assistant', sans-serif;
*/

:root{
    --main-color:#FFE734;
    --secondary-color:#FFC234;
    --accent-color:#**(BE6);
    
    --dot-size:60px;
    --dot-pos:calc(var(--dot-size)/2);
    --dot-image:radial-gradient(var(--main-color) 30%, transparent 0);
    --dot-image:url("rubberduckicon.png");
}

html,body{
    height:100vh;
    margin:0;
    font-family:;
}
body{
    /*Using all the vars*/
    background-image: var(--dot-image), var(--dot-image);
    background-size: var(--dot-size) var(--dot-size);
    background-position: 0 0, var(--dot-pos) var(--dot-pos);
    
    display:grid;
    /*
    grid-template-columns:repeat(auto-fit, minmax(100px, 1fr));
    grid-template-rows:repeat(6, 1fr);
    */
    grid:
        'header'
        'form content'
        'footer footer';
    grid-gap:0;
}


form{
    grid-column:2/span 3;
    grid-row:3/ span 3;
    
    max-width: 50vw;
    min-width: 300px;
    border:3px black solid;
    background-image: none;
    /*
    display:grid;
    grid-template-columns: auto;
    grid-template-rows:repeat(5, 1fr);
    */
}

header{
    background-color: var(--secondary-color);
    color:white;
    margin:0;
    grid-area:header;
    /*
    grid-column:span 5;
    grid-rows:span 1;
    */
    display:grid;
    grid-template-columns:20vw auto 20vw;
    grid-template-rows:repeat(2, auto-fit);
    
}
.logo-img{
    max-width: 50px;
    max-height:50px;
    
    
}
